{% extends 'base.html' %} {% load static %} 
{% block title %} Base! {% endblock %} 
{% block styles %} {% endblock %} 

{% block body %}
<h1>Hey, {{ user.username }}!</h1>
<a href="/logout"><button>Logout</button></a>

<div>
  <form method="POST" action="/">
    {% csrf_token %}
    <h2>Create a task!</h2>
    <input name="text" placeholder="What do you need to do?" />
    <input type="submit" value="Create task" />
  </form>
</div>

<div>
  {% for task in tasks %}
    <div class="task-card">
      <p>
        <strong>{{ task.author.username }}</strong> |
        <i>{{ task.dateTime }}</i>
      </p>
      <p>{{ task.text }}</p>
    </div>
    {% if tweet.author == user %}
      <p><a href="delete?id={{tweet.id}}">delete tweet</a></p>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}